[submodule "unitree_mujoco_container"]
	path = unitree_mujoco_container
	url = git@github.com:Atarilab/unitree_mujoco_container.git
[submodule "unitree_sdk2"]
	path = unitree_sdk2
	url = git@github.com:unitreerobotics/unitree_sdk2.git
[submodule "ros2-vicon-receiver"]
	path = ros2-vicon-receiver
	url = git@github.com:OPT4SMART/ros2-vicon-receiver.git
[submodule "unitree_sdk2_python"]
	path = src/unitree_sdk2_python
	url = git@github.com:unitreerobotics/unitree_sdk2_python.git
